*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "SF Pro" ;
    src: url(font/FontsFree-Net-SFProText-Regular.ttf);
}
body{
    font-family: SF Pro;
    background: #FBFBFD;
    overflow-x: hidden;
}
.menu{
    background:#000000cc ;
    top: 0;
    height: 50px;
    position: fixed;
    width: 100vw;
    backdrop-filter: saturate(120%) blur(20px);
    /*Sobreposição*/
    z-index: 1;
}
.menu-itens{
    color: #afafaf;
    font-size: 12px;
    display: flex;
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 30px;
}
.menu-itens img{
    display: flex;
    align-self: center;
    width: 15px;
}
.loja, .mac, .ipad, .iphone, .watch, .airpods, .tv-home, .just-apple, .acess, .sup{
    display: block;
}
.loja:hover, .mac:hover, .ipad:hover, .iphone:hover, .watch:hover, .airpods:hover, .tv-home:hover, .just-apple:hover, .acess:hover, .sup:hover{
    color: #cacaca;
    cursor: pointer;
}
.content-1{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-13-Pro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-13-Pro h1{
    font-size: 40px;
    margin: 10px;
    text-align: center;
}
.title-13-Pro h2{
    font-size: 20px;
    font-weight: 200;
    text-align: center;
}
.title-13-Pro h3{
    margin: 10px;
    font-size: 16px;
    text-align: center;
    color: #737373;
}
.links-13-Pro ul{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.links-13-Pro ul >li{
 list-style: none;
}
.links-13-Pro li > a{
    gap: 20px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #2997ff;
}
.links-13-Pro  a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.content-2{
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-se{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-se h1{
    font-size: 20px;
    margin: 10px;
    text-align: center;
}
.title-se h2{
    font-size: 20px;
    font-weight: 200;
    text-align: center;
}
.title-se h3{
    margin: 10px;
    font-size: 16px;
    color: #737373;
    text-align: center;
}
.links-se ul{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
.links-se ul >li{
    list-style: none;
}
.links-se li > a{
    gap: 20px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #2997ff;
}
.links-se  a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.content-3{
    height: 500px;
    display: flex;
    background: black;
}
.ipad-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: white;
}
.ipad-image{
    display: flex;
    width: 50%;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}
.ipad-title h1{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin: 10px;
}
.ipad-title h2{
    font-size: 20px;
    font-weight: 200;
    color: #969696;
    text-align: center;
}
.ipad-links ul{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
.ipad-links ul >li{
    list-style: none;
}
.ipad-links li > a{
    gap: 20px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #2997ff;
}
.ipad-links  a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.iphone-13-comum{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-se img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ipad-image img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.studio-display{
    width: 50%;
}
.mac-studio{
    width: 50%;
}
.studio-display h1{
    font-size: 40px;
    margin: 10px;
    text-align: center;
}
.studio-display h2{
    font-size: 20px;
    font-weight: 200;
    color: #737373;
    text-align: center;
}
.studio-display h3{
    margin: 10px;
    font-size: 16px;
    color: #737373;
    text-align: center;
}
.display-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}
.display-links ul >li{
    list-style: none;
}
.display-links li > a{
    gap: 20px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #2997ff;
}
.display-links  a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.mac-studio h1{
    font-size: 40px;
    margin: 10px;
    text-align: center;
}
.mac-studio h2{
    font-size: 20px;
    font-weight: 200;
    color: #737373;
    text-align: center;
}
.mac-studio h3{
    margin: 10px;
    font-size: 16px;
    color: #737373;
    text-align: center;
}
.studio-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}
.studio-links ul >li{
    list-style: none;
}
.studio-links li > a{
    gap: 20px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #2997ff;
}
.studio-links  a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.studio-display img, .mac-studio img{
    display: flex;
    width:70%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.footer{
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer ul {
    width: 90%;
    list-style: none;
}
.footer hr{
    margin: 15px;
    width: 90%;
}
.footer a{
    color: #2997ff;
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}
.search{
    padding-right: 20px;
}
.search:hover{
    filter: invert(100%) brightness(500%) contrast(1);
    cursor: pointer;
}
.iphone-13-lado{
    display: none;
}
@media screen and (max-width:700px) {
    .loja, .watch, .airpods, .tv-home, .just-apple, .acess, .sup{
        display: none;
    }
    .menu-itens{
        gap:0;
        justify-content: space-between;
    }
    .menu-itens img{
        padding-left: 20px;
    }
    .content-3{
        flex-direction: column;
    }
    .content-4{
        flex-direction: column;
    }
    .studio-display{
        width: 100%;
    }
    .mac-studio{
        width: 100%;
    }
    .ipad-title{
        margin-top: 10px;
        width: 100%;
        height: 50%;
    }
    .ipad-image{
        width: 100%;
    }
    .iphone-13-comum{
        display: none;
    }
    .iphone-13-lado{
        display: block;
        width: 70%;
        margin: 0 auto;
    }
}
[data-animation]{
    opacity: 0;
    transition: .3s;
}
[data-animation="toLeft"]{
    transform: translate3d(50px, 0, 0);
}
[data-animation="toTop"]{
    transform: translate3d(0, 50px, 0);   
}
[data-animation].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}