*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "SF Pro" ;
    src: url(font/FontsFree-Net-SFProText-Regular.ttf);
}
body{
    font-family: SF Pro;
    background: white;
}
.menu{
    width: 100%;
    top: 0;
    height: 50px;
    position: fixed;
    background: #fefeffbe;
    backdrop-filter: saturate(120%) blur(10px);
}
.menu-list{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}
.menu-list h1{
    font-weight: 800;
    font-size: 20px;
}
.menu-list p{
    font-weight: 500;
    font-size: 16px;
}
.promotion{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-top: 50px;
    background: #f5f5f7;
}
.promotion-text{
    font-size: 14px;
    text-align: center;
}
.promotion-text a{
    color: #2997ff;
    font-size: 14px;
}
.promotion-text a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.content{
    display: flex;
}
.phone{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 500px;
}
#iphone-image{
    height: 100%;
}
.selections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.selections > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.new{
    color: #bf4800;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}
.title-buy{
    font-size: 40px;
    margin-bottom: 10px;
}
.verde-alpino{
    font-size: 12px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
}
.choice-text{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.selections a{
    font-size: 13px;
    text-decoration: none;
    color: #2997ff;
}
.selections a:hover{
    text-decoration: underline;
}
.iphone-13-pro{
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
    width: 400px;
    height: 70px;
    border: 1px #d2d2d7 solid;
    border-radius: 10px;
    color: #1d1d1f;
    margin-top: 30px;
}
.iphone-13-pro-max{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    width: 400px;
    height: 70px;
    border: 1px #d2d2d7 solid;
    color: #1d1d1f;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.iphone-13-pro h1, h2 {
    font-size: 17px;
}
.iphone-13-pro-max h1, h2{
    font-size: 17px;
}
hr{
    width: 450px;
    margin: 0 auto;
}
.color-div h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}
.color-select{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
}
.color-select > div{
    margin: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    border: 1px #d2d2d7 solid;
    border-radius: 10px;
}
.color-select div > p {
    margin-bottom: 5px;
}
.color-select div > img{
    width: 35px;
    margin: 5px;
}
.space-div a{
    font-size: 13px;
    text-decoration: none;
    color: #2997ff;
}
.space-div a:hover{
    cursor: pointer;
}
.space-div h1{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
}
.space-select{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
}
.space-select> div{
    margin: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    border: 1px #d2d2d7 solid;
    border-radius: 10px;
}
.space-select div > h2{
    font-size: 25px;
    font-weight: 400;

}
.space-select div > p{
    font-size: 12px;
}
.finalize{
    padding: 20px;
    text-align: justify;
    background: #ececec;
    border-radius: 10px;
    margin-top: 50px;
    align-self: center;
    margin-bottom: 50px;
    width: 380px;
}
.finalize button{
    background: #0071e3;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
}
.finalize h1{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
.finalize h2{
    font-size: 12px;
    font-weight: 400;
}
.finalize button:hover{
    background: #035fbb;
    cursor: pointer;
}
@media screen and (max-width:750px) {
    .menu{
        width: 100vw;
    }
    .content{
        flex-direction: column;
        width: 100%;
    }
    .phone{
        width: 100%;
    }
    #iphone-image{
        height: 80%;
    }
    .title-buy{
        font-size: 32px;
    }
    .selections{
        width: 100%;
    }
    .iphone-13-pro, .iphone-13-pro-max{
        width: 350px;
    }
    hr{
       width: 350px;
    }
    .space-select{
        width: 100%;
    }
    .space-select > div{
       width: 174px;
    }
    .color-select{
        width: 100%;
    }
    .color-select > div{
        width: 174px;
    }
    .finalize{
        width: 340px;
    }
}